/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General styles */

p {font-family: "Open Sans";
   font-weight: 400;}

.heading {font-family: "Poppins";
          font-weight: 400;}

#par-final {font-family: "Open Sans";
            font-weight: 400;}

#illustration {text-align: center;}

.flex-container__p {display: flex;
                    justify-content: center;}

#logo {float: left;}


#trial {float: right;
        border: 1px solid #ff7dce;
        border-radius: 10px;
        color: #ff7dce;
        padding: 8px 18px 8px 18px;}

.h-build {clear: both;}

.flex-container {display: flex;
                 flex-flow: column wrap;
                 width: 100%;
                 align-items: center;
                 text-align: center;
                 justify-content: center;}


.flex-container1 {display: flex;
                  flex-flow: column wrap;
                  width: 100%;
                  align-items: center;}

.h-get {border: 1px solid #ff79be;
        background-color: #ff79be;
        padding: 16px 0px 16px 0px;
        width: 60%;
        color: white;
        border-radius: 10px;
        margin: 0 auto 119px auto;}

footer {background-color: #00252e;
        color: white;}

.btn{width: 48px;
     background-color: #ff73c1;
     background-image:url("../img/icon-arrow.svg");
     background-size: 18px 12px;
     background-position: center;
     background-repeat:no-repeat;}

.background1 {display: flex;
              flex-flow: column wrap;
              justify-content: flex-end;
              align-content: center;
              margin-top: 78px;
              background-size: cover;
              width: 100%;}

.copy {padding-bottom: 32px;}


   /* Mobile */

@media screen and (max-width: 767px)

{

body {font-size: 16px;}

#logo {width: 132px;
       margin: 28px 0 128px 24px;}

#illustration {width: 280px;
              margin-bottom: 73px;}

.p-initial {margin-bottom: 121px;}

.h-main {margin-bottom: 35px;
         font-weight: 700;}

.par-main {margin-bottom: 82px;}

#trial {margin: 20px 10px 0 0;}

.h-build {margin: 0 56px 66px 56px;
          font-weight: 700;
          font-size: 25px;}

.background {background-color: #f6fbff;
             padding-top: 120px;
             padding-bottom: 23px;}

.hero {text-align: center;}

#users {width: 80%;
        max-width: 50%;
        margin-bottom: 100px;}

h3, p   {align-self: flex-start;
         margin: 0 32px 0 27px;}

.end-page {margin-top: 129px;
           text-align: center;}

#h-ready {font-size: 24px;
          margin-bottom: 46px;}

.h-get {width: 60%;
        font-size: 16px;}

.subs {margin-bottom: 9px;
      text-transform: uppercase;
      padding-top: 132px;}

.icons {margin-left: 27px;
        margin-top: 52px;}

.fa-twitter {margin: 0 24px;}

.group {margin-top: 58px;}

.footer-p {margin-top: 30px;}

input {width: 70%;
       margin-bottom: 9px;
       color: #e1e6ec;
       display: inline;
       height: 40px;
       margin-left: 27px;}

input::placeholder {padding-left: 37px;}

.btn {height: 46px;
      margin: 0px;
      position: relative;
      top: 16px;
      right: 5px;
      border: 1px solid #ff73c1;}

.wlogo {fill: white;}

#logo2 {margin: 86px 0 48px 27px;}

.flex-container2 {display: flex;
                  flex-flow: column wrap;}

.background1 {background-image: url(../img/bg-footer-mobile.png);
              height: 94px;}

}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1280px)

{

#logo {margin: 28px 0 128px 24px;}

#illustration {width: 380px;
              margin-bottom: 73px;}

.p-initial {margin-bottom: 121px;
            width: 40%;
            font-size: 20px;}

.h-main {margin-bottom: 35px;
         font-weight: 700;}

.par-main {margin-bottom: 82px;
           font-size: 20px;
           width: 60%;
           text-align: center;}

.column2a {display: flex;
           flex-flow: column nowrap;
           align-items: center;
           justify-content: center;}

#trial {font-size: 20px;
        margin: 28px 24px 0 0;}

.h-build {margin: 0 56px 66px 56px;
          font-weight: 700;
          width: 360px;
          font-size: 40px;}

.background {background-color: #f6fbff;
             padding-top: 120px;
             padding-bottom: 23px;}

.hero {text-align: center;}

#users {width: 380px;
        margin-bottom: 100px;}

h3, p   {margin: 0 32px 0 27px;}

.end-page {margin-top: 129px;
           text-align: center;}

#h-ready {font-size: 40px; margin-bottom: 46px;}

.h-get {width: 40%;
        font-size: 20px;}

footer {font-size: 20px;}

.subs {margin-bottom: 9px;
      text-transform: uppercase;
      padding-top: 132px;}

.icons {margin-left: 27px;
        margin-top: 52px;}

.fa-twitter {margin: 0 24px;}

.group {margin-top: 58px;}

.footer-p {margin-top: 30px;}

input {width: 260px;
       margin-bottom: 9px;
       color: #e1e6ec;
       display: inline;
       height: 40px;
       margin-left: 27px;}

input::placeholder {padding-left: 37px;}

.btn {height: 46px;
      margin: 0px;
      position: relative;
      top: 16px;
      right: 5px;
      border: 1px solid #ff73c1;}

.wlogo {fill: white;}

#logo2 {margin: 86px 0 48px 27px;}

.flex-container2 {display: flex;
                  flex-flow: column wrap;}

.background1 {background-image: url(../img/bg-footer-mobile.png);
              height: 94px;}
}

/* Desktop */

@media screen and (min-width: 1281px)

{

.h-title {font-weight: 700;
          font-size: 60px;}

#par-final {font-family: "Open Sans";
            font-weight: 400;}

body {font-size: 20px;}

#logo {margin: 80px 0 250px 80px;}
#illustration {margin-bottom: 298px;}
#trial {margin: 70px 80px 0 0;
        font-size: 24px;}

.h-build {margin: 0 56px;
          font-size: 60px;}

.p-initial {font-size: 24px;
            width: 54%;
            text-align: center;}

.par-main {font-size: 18px;}

.h-main {font-weight: 700;}

.background {display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;}

.hero {order: 2;
      margin-right: 94px;}

.column2a {width: 34%;
           order: 1;
           margin: 0 115px 0 80px;}

#users {width: 542px;}

.hero {text-align: center;}

#h-ready {margin-top: 318px;}

.h-get {width: 55%;
        font-size: 16px;
        text-align: center;
        font-size: 24px;}

#logo2 {margin-bottom: 45px;}

.wlogo {fill: white;}

.subs {text-transform: uppercase;}

input {width: 250px; height: 50px;}

.btn {height: 56px;
      border: 1px solid #ff73c1;}

.form-email {display: flex;
             flex-flow: row nowrap;
             justify-content: center;}

.flex-container3 {display: flex;
                  justify-content: space-between;}

.end-page {display: flex;
           flex-flow: column nowrap;
           align-items: center;
           order: 2;}


.column1 {width: 25%;
          order: 1;
          margin-top: 143px;
          margin-left: 120px;}

.column2 {width: 10%;
          order: 2;
          margin-top: 227px;}

.column3 {width: 10%;
          order: 3;
          margin-top: 227px;}

.column4 {width: 25%;
          order: 4;
          margin-top: 227px;}

.icons {color: white;
        font-size: 24px;}

.fa-twitter {margin-left: 24px;
             margin-right: 24px;}

.background1 {background-image: url("../img/bg-footer-desktop.png");
              height: 110px;}

}

/* ==========================================================================
 Helper classes
 ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*causes content to wrap 1 word per line:
*https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
border: 0;
clip: rect(0, 0, 0, 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
white-space: nowrap;
width: 1px;
/* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
